.slider {
  margin: 20px 0;
  width: 70vw;
  max-width: 1200px;
  overflow: hidden;
}

.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    border: 1px solid;
  }

  &::-webkit-scrollbar-thumb {
    background: black;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  margin-right: 30px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  text-align: left;
  font-weight: 400;
  word-spacing: 4px;
  line-height: 20px;
  width: 220px;
  border: 1px solid;

  .first-view {
    border-bottom: 1px solid;
    padding: 5px;
  }

  .detail {
    padding: 5px;
  }

  span {
    font-weight: 800;
  }
}
