.section-forecasts-content {
  max-height: 100%;
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .location {
    font-size: 2vh;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .section-buttons {
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    background-color: #fff;
    box-sizing: border-box;

    button {
      border-radius: 0px;
      text-transform: uppercase;
      padding: 15px;
      width: 96px;
      border: unset;
      background: unset;
      outline: none;
    }

    .active {
      background-color: #565656;
      color: #fff;
    }

    .inactive {
      background-color: #fff;
    }
  }

  .forecast-currently {
    font-weight: 400;
    word-spacing: 4px;
    line-height: 20px;
    background-color: #eee;
    width: 220px;
    margin: 20px 0;
    text-align: left;
    border: 1px solid;

    .first-view {
      border-bottom: 1px solid;
      padding: 5px;
      height: 126px;
    }

    .first-view > p:first-child {
      padding-bottom: 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      padding-top: 10px;
    }

    .detail {
      padding: 5px;
    }

    .detail > p {
      padding-bottom: 20px;
    }

    .detail > p:first-child {
      padding-top: 10px;
    }

    .detail > p:last-child {
      padding-bottom: 10px;
    }
  }

  span {
    font-weight: 800;
  }
}
